@{
    ViewBag.Title = "Concern";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

                <ul class="breadcrumb" style="margin-bottom: 5px;">
                    <li><a href="/blog/changvh">首页</a> <span class="divider">/</span></li>
                    <li><a href="/admin/home">管理</a> <span class="divider">/</span></li>                  
                    <li class="active">我关注的人</li>
                </ul>
                <div class="back-right-inner">
                    <!-- concern- start ================================================== -->
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="/admin/concern/follows">我的关注<span class="badge badge-info">0</span></a>
                      </li>
                      <li><a href="/admin/concern/fans">我的粉丝</a></li>
                      <li><a href="/admin/concern/friends">互为关注</a></li>
                      <li><a href="javascript:add_concern()">+添加关注</a></li>
                    </ul>
                    <div class="tabbable tabs-right">
                      <ul class="nav nav-tabs">
                        <li class="active" ><a href="/admin/concern/follows?sortby=update">最近更新</a></li>
                        <li  ><a href="/admin/concern/follows?sortby=time">关注时间</a></li>
                        <li  ><a href="/admin/concern/follows?sortby=login">登录时间</a></li>
                      </ul>
                      <!-- concern-item start ================================================== -->
                      <!-- concern-item end ================================================== -->
                    </div>
                    <!-- concern end ================================================== -->
                </div>
