@{
    ViewBag.Title = "分类管理";
}

@section scripts{

}

<ul class="breadcrumb" style="margin-bottom: 25px;">
    <li><a href="/blog/changvh">首页</a> <span class="divider">/</span></li>
    <li><a href="/admin/home">管理</a> <span class="divider">/</span></li>
    <li class="active">文章分类	</li>
</ul>
<div class="back-right-inner">
    <div class="input-prepend input-append" style="text-align: center;">
        <input type="text" id="c_name" class="span3" name="name" placeholder="此处输入分类名称" maxlength="20">
        <input type="text" id="c_order" class="span2" name="order" placeholder="此处输入排序" maxlength="20">
        <button id="category_add" class="btn btn-primary">添加新分类</button>
    </div>
    <div>
        <table id="tbCategory" class="table table-hover tbfix">
            <thead>
                <tr>
                    <th class="span4">标题<button class="btn btn-link"><i class="icon-chevron-up"></i></button></th>
                    <th  class="span2">文章数量<button class="btn btn-link"><i class="icon-chevron-up"></i></button></th>
                    <th  class="span2">排序<button class="btn btn-link"><i class="icon-chevron-up"></i></button></th>
                    <th  class="span2">操作<button class="btn btn-link"><i class="icon-chevron-up"></i></button></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <form class="form-inline">
                            <input id="filterValue" type="text" class="input-medium" placeholder="分类名称">
                            <button id="btnFilter" class="btn btn-inverse"><i class="icon-filter"></i> 筛选</button>
                            <button id="btnRefresh" class="btn btn-inverse"><i class="icon-refresh"></i> 重新加载</button>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="pagination pagination-centered">
        <ul>
            <li><a href="#" title="第一页">&laquo;</a></li>
            <li><a href="#" title="上一页">&larr;</a></li>
            <li class="active"><a href="#">10</a></li>
            <li class="disabled"><a href="#">...</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#" title="下一页">&rarr;</a></li>
            <li><a href="#" title="最后页">&raquo;</a></li>
        </ul>
    </div>
</div>

<script type="text/x-jsrender" id="categoryTemplate">
    {{for categories}}
        <tr>
            <td>{{:name}}</td>
            <td>{{:id}}</td>
            <td>{{:order}}</td>
            <td> <button data-val="{{:id}}" value="删除" class="btn-command btn btn-link"><i class="icon-trash"></i></button></td>
        </tr>                     
    {{/for}}
</script>

<script type="text/javascript">

    $(function () {
        $('#btnRefresh').live('click', function () {
            LoadArticleCategory();
        });

        $('#btnFilter').live('click', function (e) {
            e.preventDefault();
            var filter = $('#filterValue') .val();
            $('#tbCategory tbody tr td:eq(0)').each(function (index) {
                //alert($(this).text().search(filter));
                if ($(this).text().search(filter) < 0)
                {
                    $(this).parent().fadeOut();
                }
            })//.parent().addClass('fade');
        });

        $('#tbCategory tbody tr .btn-command').live('click', function (e) {
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("Delete", "ArticleCategory")',
                data: { categoryId : $(this).attr('data-val') },
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    art.dialog({
                        title: '信息提示',
                        content: data.msg,
                    }).shake().time(3000);
                    LoadArticleCategory();
                }
            });
        });

        LoadArticleCategory();
        $('#category_add').click(function () {
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("Create", "ArticleCategory")',
                data: { CategoryName: $('#c_name').val(), SortNumber: $('#c_order').val() },
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    art.dialog({
                        title: '信息提示',
                        content: '添加成功',

                    }).time(3000).follow($(this).get(0));
                    LoadArticleCategory();
                    $('#c_name').val('');
                    $('#c_order').val('');
                }
            });
        });
    });

    function LoadArticleCategory() {
        $.ajax({
            url: '@Url.Action("GetJson", "ArticleCategory")',
            cache: false,
            dataType: 'JSON',
            beforeSend: function () {
            },
            complete: function () {
            },
            success: function (data) {
                $('#tbCategory tbody').empty();
                var html = $("#categoryTemplate").render(data);
                //Insert into Container
                $("#tbCategory tbody").append(html);
            }
        });
    }

</script>

