<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <!--
        ImpersonatingWrapper - Impersonates another user for the duration of the write.
        AsyncWrapper - 提供异步、缓冲执行日志写入操作。 
        FallbackGroup - 提供日志写入出错时的反馈。
        FilteringWrapper - 基于条件过滤日志记录。 Filters log entries based on a condition.
    -->
    <variable name="logDirectory" value="${basedir}/logs"/>
    <targets>
        <target name="asyncFile" xsi:type="AsyncWrapper">
            <target name="file" xsi:type="File" fileName="${logDirectory}/${logger}.txt" layout="${longdate} ${stacktrace} ${message}"/>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="file" final="true" />
    </rules>
</nlog>