@{
    ViewBag.Title = "Index";
}

<ul class="breadcrumb" style="margin-bottom: 5px;">
                    <li><a href="/blog/changvh">首页</a> <span class="divider">/</span></li>
                    <li><a href="/admin/home">管理</a> <span class="divider">/</span></li>                 
                    <li class="active">博客评论</li>
                </ul>
                <div class="back-right-inner">
                    <!-- pm-item start ================================================== -->
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="/admin/comments">博客评论&nbsp;<span class="badge badge-info">0</span></a>
                      </li>
                      <li>
                        <a href="/admin/comments/my">我的评论</a>
                      </li>
                      <li>
                        <a href="/admin/comments/trash">垃圾评论</a>
                      </li>
                    </ul>
                    <!-- pm-item start ================================================== -->
                    <!-- pm-item end ================================================== -->
                </div>

