@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>错误</title>
</head>
<body>
    <h2>A General Error Has Occurred</h2>

    @if (Model != null)
    {
        <p>@Model.Exception.GetType().Name<br />
        thrown in @Model.ControllerName @Model.ActionName</p>
        <p>Error Details:</p>
        <p>@Model.Exception.Message</p>
    }
</body>
</html>