@{
    ViewBag.Title = "Favorite";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

                <ul class="breadcrumb" style="margin-bottom: 5px;">
                    <li><a href="/home">首页</a> <span class="divider">/</span></li>
                    <li><a href="/admin/home">管理</a> <span class="divider">/</span></li>				  	
                    <li class="active">我的收藏</li>
                </ul>
                <div class="back-right-inner">
                	<div class="tabbable tabs-left">
		              <ul class="nav nav-tabs">
		                <li class="active"><a href="#favs"  data-toggle="tab">我的收藏&nbsp;<span class="badge badge-info">0</span></a></li>
		                <li><a href="#fav-tags"  data-toggle="tab">标签管理&nbsp;<span class="badge badge-info">0</span></a></li>
		                <li><a href="#fav-add" data-toggle="tab">添加收藏</a></li>
		              </ul>
		              <div class="tab-content">
		              	<!-- favorites start ================================================== -->
		                <div class="tab-pane active" id="favs">
		                
		                <!-- favorites-tags start ================================================== -->
		                <span class="fav_tag" style="margin-left:8px;">
						 	<a href="/admin/favorites"  class="mediumtag">
						 		<span class="badge badge-info tagwrap pt5 pb5 mg-t-5 mg-b-5">
									全部
								</span>
						 	</a>
					 	</span>
		                 <!-- favorites-tags end ================================================== -->
		                
		                  <table class="table table-hover tbfix">
				              <thead>
				                <tr class="fc-008">
				                  <th width="80%">标题</th>
				                  <th width="10%">类别</th>
				                  <th width="10%">操作</th>
				                </tr>
				              </thead>
				              <tbody>
				              </tbody>
				            </table>
		                </div>
		                <!-- favorites end ================================================== -->
		                <!-- favorites-tags start ================================================== -->
		                <div class="tab-pane" id="fav-tags">
		                </div>
		                 <!-- favorites-tags end ================================================== -->
		                <div class="tab-pane" id="fav-add">
							<div id="favorite_add_hide" style="padding-top: 1px;">
								 <form action="/favorites/add" method="post" id="favorite_add_form">
								 		<div class="input-prepend">
										  <span class="add-on">标题</span>
										  <input class="span4" name="title" type="text" id="favorite_add_form_title">
										</div>
										<br/>
										<div class="input-prepend">
										  <span class="add-on">链接</span>
										  <input name="url" type="text" id="favorite_add_form_url" class="span4" value="http://"/>
										</div>
										<br/>
										<div class="input-prepend ">
										  <span class="add-on">标签</span>
										  <input name="tags" type="text" id="favorite_add_tags" class="span5" placeholder="多个标签请以'空格' 隔开,标签最多只能有5个"/>
										  	  <button class="btn" type="button">
										  		暂无标签可选
										  	  </button>
										  <div id="fav_tags_list"></div>
										</div>
										<br/>
						              	<input type="button" class="btn btn-primary" id="favorite_add_btn" value="保存" onclick="javascript:favorite_add_do()"/>
						              	<input type="button" class="btn btn-primary" id="favorite-add-btn-reset" value="清空标签" onclick="javascript:favorite_add_reset()"/>
						          </form>
							</div>
		                </div>
		              </div>
		            </div>
                </div>
