@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

                <ul class="breadcrumb" style="margin-bottom: 5px;">
                    <li><a href="/blog/changvh">首页</a> <span class="divider">/</span></li>
                    <li><a href="/admin/home">管理</a> <span class="divider">/</span></li>                  
                    <li class="active">私信会话列表</li>
                </ul>
                <div class="back-right-inner">
                	<div class=" back-right-inner-title">
                    	  <p class="text-info back-right-inner-title"> 共 1 个联系人，每页显示 15 个，共 1 页
                              <span style="float:right;display: inline-block;">
                                <a href="javascript:send_msg(-1)"><img src="/images/pm_reply.gif">+发送消息</a>
                              </span>
                          </p>
                    </div>
                    <!-- pm-item start ================================================== -->
	                    <div class="pm-item" id="pm-item-1">
	                    	<table>
	                          <tr>
	                            <td rowspan="2" valign="top" width="50px">
	                            	<div  class="pm-item-head">
	                                	<a href="/blog/skywalker" target="blank"  class="thumbnail">
	                                    	<img src="http://bebop.qiniudn.com/f31a0088-5f08-4455-9c4e-33779e20e1cc_1_portraint.jpg"  style="width:40px;height:40px;">
	                                	</a>
	                                </div>
	                            </td>
	                            <td colspan="2" width="800px">
	                                 <div class="pm-item-summary">
								    		发送给:
								    		<a href="/blog/skywalker" target="blank">
								    			@@牛仔很忙
								    		</a>
								    		:
								    		谢谢
	                                </div>
	                            </td>
	                          </tr>
	                          <tr>
	                            <td>
	                            	<span class="timeago muted" title="2013-01-20 18:35:39">2013-01-20 18:35:39</span>
						    			<img src="/images/new.gif" />
						    			<font color='#900;'>有1条新消息</font>
	                            </td>
	                            <td align="right">
	                            	<a href="javascript:send_msg(1)">快速回复 </a>| 
	                            	<a href="/admin/messages/private/detail/1" id="pm_detail_bt_1">共<strong>2</strong>条记录</a>| 
	                            	<a href="javascript:del_pm_friend(1,'skywalker')">删除</a>
	                            </td>
	                          </tr>
							</table>
	                    </div>
                    <!-- pm-item end ================================================== -->
                </div>
