@model MCommunity.Models.ChangePasswordModel
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

                <ul class="breadcrumb" style="margin-bottom: 5px;">
                    <li><a href="/blog/changvh">首页</a> <span class="divider">/</span></li>
                    <li><a href="/admin/home">管理</a> <span class="divider">/</span></li>                  
                    <li class="active">密码修改</li>
                </ul>
                <div class="back-right-inner">
                    <!-- pwd start ================================================== -->
                    	<div class="box" style="padding:20px;">
							@using (@Html.BeginForm("Modify", "Password", FormMethod.Post, new { @class = "form-horizontal", style = "margin-left:80px;padding-top:20px;", data_validatable = true, id = "changePwdForm" }))
                            { 
					            <div class="control-group">
					              <label class="control-label muted" for="oldPassword">旧登录密码</label>
					              <div class="controls">
                                    @Html.PasswordFor(_ => _.OldPassword, new { @class = "span4" })
					                <a href="/user/password-reset" target="_blank">忘记登录密码?</a>
					              </div>
					            </div>
					            <div class="control-group">
					              <label class="control-label muted" for="newPassword">新密码</label>
					              <div class="controls">
					                @Html.PasswordFor(_ => _.NewPassword, new { @class = "span4" })
					              </div>
					            </div>
					            <div class="control-group">
					              <label class="control-label muted" for="reNewPassword">再次输入新密码</label>
					              <div class="controls">
					                @Html.PasswordFor(_ => _.ReNewPassword, new { @class = "span4" })
					                <span id="oo"></span>
					              </div>
					            </div>
					            <div class="control-group">
					              <div class="controls">
					                <input type="button" class="btn btn-primary" id="changepassword" value="保存修改">
					                <span id="oK"></span>
					              </div>
					            </div>
					        }
                        </div>
                    <!-- pwd end ================================================== -->
                </div>
<script type="text/javascript">
    $(function () {
        //$('#changePwdForm').submit(function (event) {
        //    event.preventDefault();
        //    $.ajax({
        //        dataType: 'json',
        //        type: 'POST',
        //        url: '/password/modify',
        //        data: {  },
        //        dataType:'json',
        //        success: function (data, textStatus, jqXHR) {
        //            showTip('添加成功');
        //        }
        //    });
        //});

        $('#changepassword').click(function (event) {
            event.preventDefault();
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '/password/modify',
                data: {},
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    showTip('添加成功');
                }
            });
        });
    });

    function showTip(msg) {
       
        art.dialog({
            title: '信息提示',
            content: msg,

        }).time(3000).follow(document.getElementById('category_add'));

    }

</script>
