<div class="pull-right">
    <ul class="nav pull-right">
        <li><a href="@Url.Action("LogOn", "Account")"><i class="icon-map-marker"></i>登录</a></li>
        <li><a href="@Url.Action("Register", "Account")"><i class=" icon-user"></i>注册</a></li>
    </ul>
</div>
